.header {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__icon {
    position: absolute;
    left: 58%;
    top: 2%;
    display: flex;
  }

  &__input {
    padding: 10px 0 10px 30px;
    width: 40%;
  }
}
