.header {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__search {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.header-icon {
  position: absolute;
  left: 70%;
  top: 2%;
  display: flex;
}

.header-form {
  display: flex;
  width: 100%;
}

.header-input {
  padding: 10px 0 10px 35px;
  width: 70%;
}
