.table {
  width: 95%;
  margin: 10px auto;
}

table,
th,
td {
  border: 1px solid #cccccc;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  text-transform: capitalize;
}
