.navigation {
  background: #1d2d50;
  color: #f6f6f6;
  text-transform: uppercase;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__item {
    padding: 15px;

    &:hover {
      cursor: pointer;
      background: #1e5f74;
    }
  }
}
