.navigation {
  background: #1d2d50;
  text-transform: uppercase;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__item {
    padding: 15px;
    text-decoration: none;
    color: #f6f6f6;

    &:hover {
      cursor: pointer;
      background: #008891;
    }
  }
}

.selected {
  background: #1e5f74;
}
